<div class="jumbotron">
  <h2>Challenge your friends to try his honor</h2>
  <p>It's so easy, just follow the next steps:</p>
  <ol>
    <li>Choose your challenge</li>
    <li>Choose your enemy</li>
    <li>Fix a deadline</li>
    <li>Wait your price in revenge or humiliation form</li>
  </ol>
  <p style='margin-top: 30px'>
    <%= link_to 'Start now »', new_challenge_path, class: 'btn btn-lg btn-primary', role: 'button' %>
  </p>
</div>